*
{
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fee59c;
  font-weight: bold;
}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  
  width: 350px;
  margin-top: 30px;
  padding: 9px;
  height: 100%;
  border-radius: 20px;
  background-color: #000000;
  box-shadow: rgb(255, 255, 255) 0px 0px 10px 1px;
}
 
h1 {
  color:white;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 0 0 40px;
  padding: 10px;
 
 
}

.cardContainer {
  width: 70%;
  height: 80%;
  margin-left: 50px;
}

.card {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  background-color: #7b00ff;
  /* border: 1px solid #1DB954; */
}

.track-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.track-title {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  text-decoration-line: underline;
  margin-top: 20px;
}

.track-singer {
  color: white;
  font-size: 0.8em;
  font-family: Helvetica, sans-serif;
  margin-top: 10px;
}


.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.active {
  color: black;
}

.btn-repeat,
.btn-shuffle,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px 25px 25px 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.repeat-track:hover,
.shuffle-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover,
.btn-repeat,
.btn-shuffle {
  opacity: 1.0;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28em;

}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 5px;
  background: #1DB954;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #1DB954;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}

